* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(miata.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

  header {
    background:#444;
    width: 100%;
    clear: both;
    content:'';
    display: table;
  }
    
  img {
    
    width: 120px;
    height: 50px;
    float: left;
    padding: 8px;
  
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }

  nav{
    list-style: none;
    width: 600px;
    background-color: #333;
    font-size: 25px;
    bottom: -200%;
    bottom: 225px; 
    

}
.nav{
	list-style: none;
	display: flex; 
	
}
.nav > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
  bottom:80%;
}
.nav > li:hover{
	background-color: red;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.nav li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}







